:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey: hsl(0, 0%, 50%);
  --clr-black: hsl(0, 0%, 7%);
  --clr-yellow: hsl(47, 88%, 63%)

}

* {
  margin: 0;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  width: 100%;
  user-select: none;
}

a {
  text-decoration: none;
  color: var(--clr-black);
}

a:hover {
  color: var(--clr-yellow);

}

body {
  background-color: var(--clr-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Figtree", sans-serif;
  color: var(--clr-black);
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 384px;
  height: 522px;
  min-width: 327px;
  min-height: 501px; 
  background-color: var(--clr-white);
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 10px 10px;
  border: 1px solid var(--clr-black);
}

.card-svg {
  border-radius: 20px;
  /* margin-bottom: .5rem; */
}

.tag {
  background-color: var(--clr-yellow);
  padding: .5rem 1rem;
  font-weight: 800;
  border-radius: 10px;
  width: 6rem;
  text-align: center;
}

.subtitle {
  font-weight: 500;
  font-size: 0.875rem;
  /* margin: .5rem 0; */
}

.title {
  /* margin: .5rem 0; */
  font-size: 1.5rem;
  font-weight: 800;
  cursor: pointer;
}

.description {
  color: var(--clr-grey);
  font-weight: 500;
}

.details {
  display: flex;
  align-items: center;
  gap: .5rem;
  
}

.avatar {
  height: 2rem;
  width: 2rem;
}

.author {
  font-weight: 800;
  font-size: 0.875rem;
}